---
import NavLink from '../../components/astro/NavLink.astro';
---

<ul
      class="nav-menu flex gap-8 md:justify-end lg:justify-center font-light md:text-[12px] lg:text-base xl:text-xl text-white"
>
      <li>
            <NavLink href="/">Accueil</NavLink>
      </li>

      <li>
            <a href="/services">Services</a>
      </li>
      <li>
            <a href="/realisations">Réalisations</a>
      </li>
      <li>
            <a href="/a-propos">À propos</a>
      </li>
      <li>
            <a href="/blog">Blog</a>
      </li>
      <li>
            <NavLink href="/contact">Contact</NavLink>
      </li>
</ul>
