<header>
  <nav>
    <a href="/">Accueil</a>
    <a href="/about">À propos</a>
    <a href="/blog/6">Blog</a>
    <a href="/project/5">project</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
