---
import Layout from '../layouts/main/Layout.astro';
import SEO from '../components/astro/SEO.astro';
import Banner from '../components/astro/banner.astro';
import ServiceSlide from '../components/react/service-slide';
import Project from '../components/react/project-component';
import SpecialistsSlider from '../components/react/SpecialistsSlider';
import TestimonialsComponent from '../components/react/TestimonialsComponent';
import ArticleBlog from '../components/react/article-blog';

import { Fragment } from 'react';

const home = {
      title: 'Le rôle du jeune musulman',
      description: 'Découvrez le rôle et l’impact de la jeunesse dans l’Islam.',
};

const pageUrl = Astro.site + Astro.url.pathname;
---

<SEO title={home.title} description={home.description} url={pageUrl} type="website" />

<Layout>
      <div>
            <Banner />
      </div>

      <div>
            <section class="container mx-auto px-4 sm:px-6 lg:px-8">
                  <div class="py-5 lg:py-1">
                        <h2
                              class="text-[#FF7700] mb-8 font-bold text-2xl sm:text-3xl md:text-4xl text-center lg:text-left"
                        >
                              Qui sommes-nous
                        </h2>

                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-10 items-center">
                              <!-- Image avec description alternative -->
                              <div class="about-img">
                                    <img
                                          class="w-full h-auto"
                                          src="/img/man.png"
                                          alt="Expert de Mag Services Mali travaillant sur un projet digital"
                                          loading="lazy"
                                    />
                              </div>

                              <!-- Contenu texte -->
                              <div class="about-content">
                                    <h1
                                          class="text-[#274BA1] text-2xl sm:text-3xl md:text-4xl font-bold mb-4"
                                    >
                                          Développez votre activité avec notre agence
                                    </h1>

                                    <h2 class="text-lg sm:text-xl font-medium mb-4">
                                          Pourquoi choisir <span class="font-bold text-[#274BA1]"
                                                >MAG SERVICES MALI</span
                                          > comme partenaire digital de confiance ?
                                    </h2>

                                    <p class="text-base sm:text-lg leading-relaxed text-gray-700">
                                          Nous sommes une équipe d’experts passionnés par
                                          l’innovation digitale. Grâce à notre expertise en
                                          développement web, applications mobiles, SEO et marketing
                                          digital, nous concevons des solutions sur mesure adaptées
                                          à vos besoins.
                                          <br class="hidden md:block" />
                                          Notre engagement : vous offrir des services de qualité, une
                                          approche personnalisée et des résultats concrets pour la croissance
                                          de votre entreprise.
                                    </p>
                              </div>
                        </div>
                  </div>
            </section>
      </div>

      <div>
            <div class="interface-banner">
                  <div class="container mx-auto p-8">
                        <h2
                              class="text-[#FF7700] mb-4 font-bold text-2xl sm:text-3xl md:text-4xl text-center lg:text-left"
                        >
                              Services
                        </h2>

                        <p
                              class="w-full lg:w-1/2 text-center lg:text-start text-[#274BA1] lg:text-4xl lg:leading-10"
                        >
                              Nous sommes flexibles pour vous offrir le meilleur
                        </p>
                  </div>
            </div>
            <section class="container mx-auto px-4">
                  <ServiceSlide client:load />
            </section>
      </div>

      <div>
            <div class="interface-mobile-banner">
                  <div class="container mx-auto p-8 text-white md:text-black md:p-16">
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                              <div class="flex gap-2 items-center">
                                    <div class="project-img">
                                          <img class="w-16" src="/img/counter (4).png" alt="" />
                                    </div>
                                    <div class="font-medium lg:text-lg xl:text-xl">
                                          <p>10+</p>
                                          <h2>Experiences</h2>
                                    </div>
                              </div>
                              <div class="flex gap-2 items-center">
                                    <div class="project-img">
                                          <img class="w-16" src="/img/counter (3).png" alt="" />
                                    </div>
                                    <div class="font-medium lg:text-lg xl:text-xl">
                                          <p>150+</p>
                                          <h2>Projet realisé</h2>
                                    </div>
                              </div>
                              <div class="flex gap-2 items-center">
                                    <div class="project-img">
                                          <img class="w-16" src="/img/counter (2).png" alt="" />
                                    </div>
                                    <div class="font-medium lg:text-lg xl:text-xl">
                                          <p>100%</p>
                                          <h2>Clients satisfait</h2>
                                    </div>
                              </div>
                              <div class="flex gap-2 items-center">
                                    <div class="project-img">
                                          <img class="w-16" src="/img/counter (1).png" alt="" />
                                    </div>
                                    <div class="font-medium lg:text-lg xl:text-xl">
                                          <p>300+</p>
                                          <h2>Avis favorable</h2>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div>
            <div>
                  <div class="container mx-auto p-8">
                        <h2
                              class="text-[#FF7700] mb-4 font-bold text-2xl sm:text-3xl md:text-4xl text-center lg:text-left"
                        >
                              Nos Realisations
                        </h2>

                        <p class="w-full lg:w-1/2 text-center lg:text-start text-[#274BA1]">
                              Découvrez nos réalisations : des projets innovants et sur mesure qui
                              témoignent de notre savoir-faire et de notre engagement envers
                              l’excellence digitale.
                        </p>
                  </div>
            </div>
            <section class="container mx-auto px-4">
                  <Project client:load />
            </section>
      </div>

      <div>
            <section class="container px-4 sm:px-6 lg:pl-12 xl:pl-20 py-8 relative">
                  <h1
                        class="text-xl sm:text-2xl lg:text-3xl font-bold text-gray-800 mb-6 flex items-center gap-2"
                  >
                        <i class="fas fa-question text-orange-500"></i>
                        Comment transformer votre idée en projet digital concret avec nous ?
                  </h1>

                  <div class="p-6 sm:p-8 bg-[#F8F8F8] rounded-2xl shadow-md">
                        <p
                              class="text-base sm:text-lg lg:text-xl font-light text-gray-700 leading-relaxed mb-6"
                        >
                              Ne laissez pas votre projet dormir dans un coin. <br
                                    class="hidden sm:inline"
                              />
                              On vous montre comment le concrétiser, étape par étape : <strong
                                    >planification</strong
                              >,
                              <strong>financement</strong>, <strong>développement</strong>, <strong
                                    >déploiement</strong
                              >,
                              <strong>suivi</strong>. <br class="hidden sm:inline" />
                              Pas de jargon. Pas de perte de temps. Juste un accompagnement clair, efficace
                              et orienté résultats.
                        </p>

                        <a
                              href="#"
                              class="inline-block text-orange-500 font-medium text-base sm:text-lg hover:underline focus:outline-none focus:ring-2 focus:ring-orange-400 rounded transition"
                        >
                              👉 Découvrez comment on passe de votre idée à une solution prête à
                              performer.
                        </a>
                  </div>
            </section>
      </div>

      <div>
            <div class="banner-specialiste">
                  <div class="container mx-auto p-8 relative">
                        <h2
                              class="text-[#FF7700] mb-4 font-bold text-2xl sm:text-3xl md:text-4xl text-center lg:text-left"
                        >
                              Nos specialistes
                        </h2>
                        <p class="w-full lg:w-1/2 text-center lg:text-start text-[#274BA1]">
                              Ils nous ont fait confiance, et leurs résultats parlent d’eux-mêmes.
                              Parcourez leurs témoignages et imaginez ce que MAG SERVICES MALI peut
                              accomplir pour vous.
                        </p>
                  </div>
                  <SpecialistsSlider client:load />
            </div>
      </div>

      <div>
            <div class="container mx-auto p-8 relative">
                  <h2
                        class="text-[#FF7700] mb-4 font-bold text-2xl sm:text-3xl md:text-4xl text-center lg:text-left"
                  >
                        Les avis des clients
                  </h2>
                  <p class="w-full lg:w-1/2 text-center lg:text-start text-[#274BA1]">
                        Ils nous ont fait confiance, et leurs résultats parlent d’eux-mêmes.
                        Parcourez leurs témoignages et imaginez ce que MAG SERVICES MALI peut
                        accomplir pour vous.
                  </p>

                  <TestimonialsComponent client:load />
            </div>
      </div>

      <div>
            <div class="container mx-auto p-8 relative">
                  <h2
                        class="text-[#FF7700] block w-full mb-4 font-bold text-2xl sm:text-3xl md:text-4xl text-center"
                  >
                        Notre Blog d’actualités
                  </h2>
                  <p class="w-full lg:w-[64rem] text-center lg:mx-auto text-[#274BA1] text-2xl">
                        Restez informé des dernières tendances du digital, de nos projets et des
                        actualités tech avec le blog de MAG SERVICES MALI.
                  </p>

                  <ArticleBlog client:load />
            </div>
      </div>
</Layout>
