---
import Layout from '../layouts/main/Layout.astro';
import SEO from '../components/astro/SEO.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const home = {
      title: 'Le rôle du jeune musulman',
      description: 'Découvrez le rôle et l’impact de la jeunesse dans l’Islam.',
};

const pageUrl = Astro.site + Astro.url.pathname;
---

<SEO title={home.title} description={home.description} url={pageUrl} type="website" />

<Layout>
      <section class="banner-area-two relative">
            <h1 class="text-3xl font-bold">Bienvenue à vous chez MAG SERVICES MALI</h1>
      </section>
</Layout>
