@import 'tailwindcss';

body {
      font-family: 'Poppins', sans-serif;
}

h1,
h2 {
      font-family: 'Livvic', sans-serif;
}

/* Banner principale */
.banner-area-two {
      background-image: url(/img/home-two-bg.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
}

.about-img {
      background-image: url(/img/about-img-bg.png);
      background-repeat: no-repeat;
}

.interface-banner {
      background-image: url(/img/counter-bg.png);
      background-repeat: no-repeat;
}

.interface-mobile-banner {
      background-image: url(/img/counter-bg.png);
      background-repeat: no-repeat;
}

.banner-specialiste {
      background-image: url(/img/work-bg.png);
      background-repeat: no-repeat;
      background-position: center;
}

.banner-area-two::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 600px;
      background-image: url(/img/home-two-bg2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
}

/* Pour mobile : enlever les images lourdes */
@media (max-width: 640px) {
      .banner-area-two {
            background-image: none;
            background-color: #3c67ca;
      }

      .banner-area-two::before {
            background-image: none;
            background-color: #3c67ca;
            height: 100%;
      }

      .banner-bottom-shape {
            display: none;
      }

      .interface-mobile-banner {
            background-image: none;
            background-color: #3c67ca;
            height: 100%;
      }
}

.nav-menu-btn {
      padding: 10px 27px;
      color: #ffffff;
      text-align: center;
      position: relative;
      z-index: 1;
      text-transform: capitalize;
      background-image: linear-gradient(to right, #ff2500, #ff7100);
      border-radius: 50px;
      transition: 0.7s;
}

/* Animation bannière */
.animated-banner {
      animation: floatFade 3s ease-in-out infinite;
}

@keyframes floatFade {
      0% {
            opacity: 0.6;
            transform: translateY(0px);
      }
      50% {
            opacity: 1;
            transform: translateY(-10px);
      }
      100% {
            opacity: 0.6;
            transform: translateY(0px);
      }
}

/* Animation des formes */
@keyframes fadeInUp {
      0% {
            opacity: 0;
            transform: translateY(30px);
      }
      100% {
            opacity: 1;
            transform: translateY(0);
      }
}

.banner-bottom-shape {
      position: relative;
      width: 100%;
      height: 200px;
}

.shape {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
      opacity: 0;
      animation: fadeInUp 1s ease-out forwards;
      animation-delay: var(--delay);
}

.shape-one {
      bottom: 50px;
      z-index: 1;
}
.shape-two {
      bottom: 70px;
      z-index: 2;
}
.shape-three {
      bottom: 90px;
      z-index: 3;
}

.testimonial-content {
      position: relative;
      width: 100%;
      height: 350px;
      border: 1px solid #274ba1;
      overflow: hidden;
}

.testimonial-content:hover .see-more-btn {
      opacity: 1;
      visibility: visible;
}

.see-more-btn {
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      background: #274ba1;
      color: white;
      padding: 8px 16px;
      border-radius: 20px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 10;
}
