---
// Aucun props nécessaire ici
---

<footer class="container mx-auto px-4 text-2xl pt-10">
      <div class="flex flex-col md:flex-row justify-between">
            <!-- Logo -->
            <div>
                  <img src="/icon/logo-blue-2.png" alt="MAG SERVICES MALI" class="mb-4 md:w-52" />
            </div>

            <div>
                  <!-- Réseaux sociaux -->
                  <div
                        class="flex mb-8 justify-center md:justify-end items-center gap-4 container mx-auto md:px-4 md:mt-8"
                  >
                        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                              <img src="/img/facebook.png" alt="Facebook" class="h-12" />
                        </a>
                        <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
                              <img src="/img/linkedin.png" alt="LinkedIn" class="h-12" />
                        </a>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                              <img src="/img/twitter.png" alt="X / Twitter" class="h-12" />
                        </a>
                        <a
                              href="https://wa.me/22374954352"
                              target="_blank"
                              rel="noopener noreferrer"
                        >
                              <img src="/img/whatsapp.png" alt="WhatsApp" class="h-12" />
                        </a>
                  </div>
            </div>
      </div>

      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 px-4 items-center justify-center">
            <!-- Lien Rapide -->
            <div>
                  <h3 class="font-semibold mb-3">Lien Rapide</h3>
                  <ul class="space-y-2 text-sm">
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Nos Réalisations</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Nos produits</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Blog</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> WebMeild</a
                              >
                        </li>
                  </ul>
            </div>

            <!-- Nos Services -->
            <div>
                  <h3 class="font-semibold mb-3">Nos Services</h3>
                  <ul class="space-y-2 text-sm">
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Développement Web</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Développement Mobile</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Optimisation SEO</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Social Media</a
                              >
                        </li>
                  </ul>
            </div>

            <!-- Conditions Générales -->
            <div>
                  <h3 class="font-semibold mb-3">Conditions Générales</h3>
                  <ul class="space-y-2 text-sm">
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> À propos de nous</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Politique de Confidentialité</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> Conditions et Quarantie</a
                              >
                        </li>
                        <li>
                              <a href="#" class="flex items-center gap-2 hover:underline"
                                    ><i class="fas fa-link me-2"></i> FAQ</a
                              >
                        </li>
                  </ul>
            </div>

            <!-- Conditions Générales -->
            <div>
                  <h3 class="font-semibold mb-3">Address</h3>
                  <ul class="space-y-2 text-sm">
                        <li class="mb-2 flex items-center">
                              <i class="fas fa-envelope me-2"></i>
                              <a
                                    href="mailto:contact@magservices-mail.org"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="ml-2 hover:underline"
                              >
                                    contact@magservices-mail.org
                              </a>
                        </li>
                        <li class="mb-2 flex items-center">
                              <i class="fab fa-whatsapp me-2"></i>
                              <a
                                    href="https://wa.me/22374954352"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="ml-2 hover:underline"
                              >
                                    + (223) 74 95 43 52
                              </a>
                        </li>
                        <li class="mb-2 flex items-center">
                              <i class="fas fa-comment-sms me-2"></i>
                              <a
                                    href="https://wa.me/22374954352"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="ml-2 hover:underline"
                              >
                                    + (1) 646-427-4510
                              </a>
                        </li>
                        <li class="mb-2 flex items-center">
                              <i class="fas fa-map-location-dot me-2"></i>
                              <span class="ml-2 hover:underline">
                                    Bougouba coura pres du station ORYX
                              </span>
                        </li>
                  </ul>
            </div>
      </div>

      <!-- Bas de page -->
      <div class="text-center text-xs text-gray-500 py-6 border-t mt-6">
            Copyright © 2025 MAG SERVICES MALI. All rights reserved.
      </div>
</footer>
