---
const { title, path } = Astro.props;
---

<section class="banner-area-cover">
      <div class="h-full md:relative bottom-20 flex flex-col justify-center items-center">
            <h1 class="text-3xl
      md:text-5xl text-white font-bold mb-5">
                  {title}
            </h1>
            <div class="text-white flex gap-2 md:text-xl">
                  <a href="/" class="text-white hover:text-orange-400"> Home </a>
                  <span>/</span>
                  <p class="text-white">
                        {path}
                  </p>
            </div>
      </div>
</section>
