<section class="banner-area-two relative">
      <div class="container mx-auto relative z-10 py-12 px-4 sm:px-8">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                  <div class="banner-content">
                        <div
                              class="px-3 py-2 mb-4 rounded-3xl text-white text-center bg-[#3C67CA] w-fit"
                        >
                              Le meilleurs pour vous
                        </div>
                        <div class="mb-4">
                              <h1
                                    class="text-white font-bold mb-4 text-3xl sm:text-4xl md:text-5xl leading-tight"
                              >
                                    Nous sommes les <span class="text-[#FF7700]">architectes</span> de
                                    votre transformation
                                    <span class="text-[#FF7700]"> digitale.</span>
                              </h1>
                              <p class="text-white text-sm sm:text-base leading-6">
                                    Nous sommes à vos côtés pour concevoir, développer et déployer
                                    des solutions digitales intelligentes, adaptées à vos ambitions.
                              </p>
                        </div>
                        <div class="py-6 flex flex-col sm:flex-row gap-4 sm:gap-8">
                              <a href="/contact" class="nav-menu-btn transition text-center">
                                    <span>Contactez-nous</span>
                                    <i class="fas fa-phone ml-2"></i>
                              </a>
                              <a
                                    href="/contact"
                                    class="bg-transparent transition flex items-center justify-center text-white"
                              >
                                    <span>play video</span>
                                    <i class="far fa-circle-play text-2xl ml-2"></i>
                              </a>
                        </div>
                  </div>
                  <div class="animated-banner hidden sm:block">
                        <img
                              src="/img/banner-img.webp"
                              alt="Images"
                              width="1200"
                              height="600"
                              class="w-full h-auto"
                              fetchpriority="high"
                        />
                  </div>
            </div>
      </div>

      <div class="md:hidden lg:block banner-bottom-shape hidden sm:block">
            <div class="shape shape-one" style="--delay: 0.3s;">
                  <img src="/img/shape1.png" alt="Shape One" />
            </div>
            <div class="shape shape-two" style="--delay: 0.5s;">
                  <img src="/img/shape2.png" alt="Shape Two" />
            </div>
            <div class="shape shape-three" style="--delay: 0.7s;">
                  <img src="/img/shape3.png" alt="Shape Three" />
            </div>
      </div>
</section>
