---
const { href, class: baseClass = '' } = Astro.props;
const currentPath = Astro.url.pathname;

const isRoot = href === '/';
const isActive = isRoot ? currentPath === href : currentPath.startsWith(href);

const activeClass = 'underline underline-offset-5 text-orange-400';
---

<a
      href={href}
      class={`${baseClass} ${isActive ? activeClass : ''}`.trim()}
      aria-current={isActive ? 'page' : undefined}
>
      <slot />
      <!-- ⬅️ c'est ça qui rend le contenu "Accueil" visible -->
</a>
